{%extends 'layout.html'%} {%block boardinfo%}
<link rel="stylesheet" href="static/css/chessboard-1.0.0.css" />

<script src="{{ url_for('static', filename='js/chessboard-1.0.0.js') }}"></script>
<script src="{{ url_for('static', filename='js/chess.js') }}"></script>

<script src="{{url_for('static', filename='js/searching.js')}}"></script>
<script src="{{url_for('static', filename='js/favorite.js')}}"></script>
<script src="{{url_for('static', filename='js/boardlogic.js')}}"></script>

<blockquote class="blockquote text-center" style="margin: 20px">
  <p class="mb-0">
    Set a base opening and play angainst computer moves within our database.
    Reset back to the base once the end of the opening tree is reached.
  </p>
</blockquote>

<div
  class="d-flex flex-column mb-3 align-items-center"
  style="overflow-x: auto"
>
  <div
    class="d-flex flex-row-reverse align-items-center"
    style="margin: 0.1% auto"
  >
    {# all opening names #}
    <div class="d-flex flex-column mb-3 align-items-center">
      {# search bar#}
      <form
        class="form-inline d-flex justify-content-center md-form form-sm mt-0"
        method="POST"
      >
        <i class="fas fa-search" aria-hidden="true"></i>
        <input
          class="form-control form-control-sm ml-3 w-75"
          type="text"
          placeholder="Search"
          aria-label="Search"
          onkeyup="counter=0;scroll_search(this.value); "
        />
      </form>
      {# end search bar #} {# Favorite and Customs Begin #}
      <div class="d-flex flex-row mb-3 align-items-center">
        <button
          class="btn btn-outline-secondary"
          onclick="counter=0; scroll_all(); "
        >
          All Openings
        </button>
        <button class="btn btn-outline-secondary" onclick="view_favorites()">
          Favorites
        </button>

        <button class="btn btn-outline-secondary" onclick="view_customs()">
          Custom Openings
        </button>
      </div>
      {#Favorites and Customs end #} {% if not current_user.is_authenticated%}
      <small>*login to favorite and create your own openings*</small>
      {%endif%}

      <ul
        id="op_list"
        class="list-group"
        style="
          max-height: 300px;
          max-width: 275px;
          overflow: scroll;
          -webkit-overflow-scrolling: touch;
          margin-left: 30px;
        "
      >
        <div id="sentinal">loading</div>
      </ul>
      <div style="max-width: 220px">
        <small style="overflow-wrap: break-word"
          >*King's Gambit and other gambits alike sometimes go by KGA (accepted)
          or KGD (declined)</small
        >
      </div>
    </div>
    {# end all opening names #} {# board info #}
    <div
      class="d-flex flex-column mb-3 align-items-center align-self-center order-1"
    >
      <ul
        class="list-group flex-column"
        style="
          min-width: 220px;
          max-width: 220px;
          max-height: 300px;
          min-height: 300px;
        "
      >
        <li class="list-group-item">
          <div id="name"></div>
        </li>
        <li
          class="list-group-item"
          style="display: inline; overflow-wrap: break-word"
        >
          PGN:
          <div id="pgn"></div>
        </li>
        <li class="list-group-item" style="display: inline">
          Available Moves
          <div id="legalmoves" class="text-truncate"></div>
        </li>
        <li class="list-group-item">
          Status:
          <div id="status"></div>
        </li>
        <li
          class="list-group-item list-group-item-success list-group-item-action"
          style="display: inline"
          id="Base"
          onclick="setBase()"
        >
          Set as Base Opening
        </li>
      </ul>
    </div>
    {# end board info #} {# Chess board #}
    <link rel="stylesheet" href="static/css/chessboard-1.0.0.css" />
    <script src="{{ url_for('static', filename='js/chessboard-1.0.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chess.js') }}"></script>

    <div
      class="d-flex flex-column mb-3 align-items-lg-start"
      style="margin-right: 3%"
    >
      <div id="myBoard" class="flex-lg-row" style="width: 500px"></div>
      <script>
        var op_data = {{ op_data| tojson }}
      </script>

      <div
        class="d-flex flex-row mb-3 align-items-lg-start"
        style="margin: 0.5%"
      >
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          style="margin: 0.5%"
          onclick="undomoveBoard()"
        >
          Undo Move
        </button>

        <button
          style="margin: 0.5%"
          class="btn btn-secondary btn-sm"
          id="whiteOrientationBtn"
        >
          White orientation
        </button>
        <button
          style="margin: 0.5%"
          class="btn btn-secondary btn-sm"
          id="blackOrientationBtn"
        >
          Black orientation
        </button>
        <button
          style="margin: 0.5%"
          class="btn btn-secondary btn-sm"
          id="CompMoves"
        >
          Begin Computer Moves
        </button>
      </div>
    </div>

    <script src="{{url_for('static',filename='js/random_logic.js')}}"></script>
    <script src="{{url_for('static',filename='js/scrolling.js')}}"></script>
    <script>
      $("#whiteOrientationBtn").on("click", function () {
        board.orientation("white");
      });

      $("#blackOrientationBtn").on("click", function () {
        board.orientation("black");
      });
      $("#CompMoves").on("click", function () {
        makeRandomMove();
      });
      function setBase() {
        if (!playing_random) {
          playing_random = true;
          base_id = id;
          base_pgn = game.pgn();
          $("#Base").attr(
            "class",
            "list-group-item list-group-item-danger list-group-item-action"
          );
          $("#Base").html("Unbind Base Opening");
          $("#Base").attr("onclick", "unsetBase()");
        }
      }
      function unsetBase() {
        if (playing_random) {
          playing_random = false;
          base_id = 1;
          base_pgn = "";
          $("#Base").attr(
            "class",
            "list-group-item list-group-item-success list-group-item-action"
          );
          $("#Base").html("Set Base Opening");
          $("#Base").attr("onclick", "setBase()");
        }
      }
      scroll_all();
    </script>
    {# end Chess board #}
  </div>
</div>
{%endblock%}
